agm-map {
    height: 500px;
}

.focus-click {
    cursor: pointer;
}

.focus-click:hover {
    color: #F7A31D;
}

.cards-container {
    margin-top: 5px;
}

.cards-container div {
    float: left;
    padding: 5px;
}